/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

div.abs{
    position: relative;
    width:100%;
}
div.rel{
    position: absolute;
    top:0;
    left:400px;
}

ul.hello
{
    border:10px solid ;
    position: relative;
}
.pang{
    position:relative;
    height:200px;
    border:10px solid red;
}

nav {
    text-align: left;
    border: 2px;
    float: left;
}



